header{
    margin-top: 25px;
}
.logo{
    margin-right: 50px;
    vertical-align: top;
    text-decoration: none;
    color: rgb(255, 192, 203);
}

.logo:hover{
    color: rgb(255, 192, 203);
}

.logo h1{
    display: inline-block;
    font-size: 2em;
}
button{
    margin-right: 5px;
}

.nav-main ul{
    display: inline-block;
    list-style: none;
}

.nav-main ul li{
    position: relative;
}
.signin-buttons{
    float: right;
}

button.button-primary{
    background-color: rgb(255, 192, 203);
    border: 1px solid rgb(255, 192, 203);
}

button.button-primary:hover{
    background-color: rgb(255, 210, 220);
    border: 1px solid rgb(255, 210, 220);
}

.dropdown{
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
}

.dropdown li{
    text-align: center;
    margin: 0 15px;
    padding: 16px 10px 16px 10px;
    border-bottom:1px solid rgb(225, 225, 225);
}

.dropdown li:last-child{
    text-align: center;
    padding-bottom:15px;
    border-bottom:none;
}

.master-dropdown{
    position: relative;
    top: -10px;
    right: 13%;
}