header{
    margin-top: 25px;
}
.logo{
    text-decoration: none;
    color: rgb(255, 192, 203);
}

.logo:hover{
    color: rgb(255, 192, 203);
}

.logo h1{
    display: inline-block;
    font-size: 2em;
}
button{
    margin-right: 5px;
}

.signin-buttons{
    float: right;
}

button.button-primary{
    background-color: rgb(255, 192, 203);
    border: 1px solid rgb(255, 192, 203);
}

button.button-primary:hover{
    background-color: rgb(255, 210, 220);
    border: 1px solid rgb(255, 210, 220);
}